<%= form_for :session, url: session_path do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_field :email, type: 'email', placeholder: "Email", class: "input is-medium" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.password_field :password, placeholder: "Password", class: "input is-medium" %>
    </div>
  </div>

  <div class="field has-text-centered">
    <%= form.submit class: "button" %>
  </div>

  <div class="level is-mobile">
    <div class="level-left">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    </div>
    <div class="level-right">
    <%= link_to t(".forgot_password"), new_password_path %>
    </div>
  </div>
<% end %>
