<%= form_for :session, url: session_path do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_field :email, type: 'email', placeholder: "Email", class: "input is-medium" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.password_field :password, placeholder: "Password", class: "input is-medium" %>
    </div>
  </div>

  <div class="level is-mobile">
    <div class="level-left">
      <div class="field">
        <%= form.submit class: "button is-info" %>
      </div>
    </div>
    <div class="level-right">
      <% if Clearance.configuration.allow_sign_up? %>
        <%= link_to t(".sign_up"), sign_up_path, class: "level-item" %>
      <% end %>
      <%= link_to t(".forgot_password"), new_password_path, class: "level-item" %>
    </div>
  </div>
<% end %>
