<%= form_with(model: oil_change, url: (oil_change.new_record? ? vehicle_oil_changes_path : vehicle_oil_change_path(oil_change.vehicle_id, oil_change.id)), local: true) do |form| %>
  <% if oil_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oil_change.errors.count, "error") %> prohibited this oil_change from being saved:</h2>

      <ul>
      <% oil_change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :vehicle_id, value: params[:vehicle_id] %>

  <div class="field">
    <%= form.label :date, class: "label" %>
    <%= form.date_select :date, class: "date is-medium" %>
  </div>

  <div class="field">
    <%= form.label :mileage, class: "label" %>
    <%= form.text_field :mileage, class: "input is-medium", placeholder: "Mileage"%>
  </div>

  <div class="field">
    <%= form.label :oil_used, class: "label is-capitalized" %>
    <%= form.text_field :oil_used, class: "input is-medium", placeholder: "Oil Used" %>
  </div>

  <div class="field">
    <%= form.label :notes, class: "label" %>
    <%= form.text_area :notes, class: "textarea is-medium", rows: 5, placeholder: "Put additional notes here" %>
  </div>

  <div class="actions has-text-centered is-capitalized">
    <%= form.submit class: "button" %>
  </div>
<% end %>
