<%= form_with(model: oil_change, url: vehicle_oil_changes_path, local: true) do |form| %>
  <% if oil_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oil_change.errors.count, "error") %> prohibited this oil_change from being saved:</h2>

      <ul>
      <% oil_change.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :vehicle_id, value: params[:vehicle_id] %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :mileage %>
    <%= form.text_field :mileage %>
  </div>

  <div class="field">
    <%= form.label :oil_used %>
    <%= form.text_field :oil_used %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
