<div id="clearance" class="password-reset box">
  <h2 class="title is-size-4"><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>
    <div class="field">
      <%= form.label :password, class: "label" %>
      <%= form.password_field :password, class: "input is-medium", placeholder: "New Password" %>
    </div>

    <div class="field">
      <%= form.submit class: "button is-info" %>
    </div>
  <% end %>
</div>
