<div id="clearance" class="password-reset box">
  <h2 class="title is-size-4"><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path do |form| %>
    <div class="field">
      <%= form.text_field :email, type: 'email', placeholder: "Email", class: "input is-medium" %>
    </div>

    <div class="field">
      <%= form.submit class: "button is-info"%>
    </div>
  <% end %>
</div>
