<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nickname, class: "label" %>
    <%= form.text_field :nickname, class: "input is-medium", placeholder: "Vehicle Nickname" %>
  </div>

  <div class="field">
    <%= form.label :make, class: "label" %>
    <%= form.text_field :make, class: "input is-medium", placeholder: "Vehicle Make" %>
  </div>

  <div class="field">
    <%= form.label :model, class: "label" %>
    <%= form.text_field :model, class: "input is-medium", placeholder: "Vehicle Model" %>
  </div>

  <div class="field">
    <%= form.label :mileage, class: "label" %>
    <%= form.text_field :mileage, class: "input is-medium", placeholder: "Current Mileage" %>
  </div>

  <div class="actions has-text-centered is-capitalized">
    <%= form.submit class: "button" %>
  </div>
<% end %>
