<% if @vehicles %>
<div class="columns is-tablet is-multiline">
  <% @vehicles.each do |vehicle| %>
  <div class="column is-one-quarter-fullhd is-one-third-desktop is-half-tablet">
    <div class="box">
      <h2 class="title is-size-5">
        <%= link_to vehicle.nickname, vehicle, class: "button fill is-info is-bold has-text-weight-bold" %>
      </h2>
      <div class="level is-mobile">
        <div class="level-left has-text-weight-bold">Make</div>
        <div class="level-right"><%= vehicle.make %></div>
      </div>
      <div class="level is-mobile">
        <div class="level-left has-text-weight-bold">Model</div>
        <div class="level-right"><%= vehicle.model %></div>
      </div>
      <div class="level is-mobile">
        <div class="level-left has-text-weight-bold">Mileage</div>
        <div class="level-right"><%= vehicle.mileage %></div>
      </div>
      <% if vehicle.oil_changes.exists? %>
      <div class="level is-mobile">
        <div class="level-left has-text-weight-bold">Last Oil Change</div>
        <div class="level-right">
          <%= distance_of_time_in_words(vehicle.oil_changes.last.date, Time.now)%> ago
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<div class="has-text-centered">
  <%= link_to 'Add Vehicle', new_vehicle_path, class: "button is-info is-rounded has-text-weight-bold" %>
</div>