<!DOCTYPE html>
<html>
  <head>
    <title>Oil Change Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Oil Change Log</h1>
          <% if signed_in? %>
            <h2 class="subtitle">
              <%= current_user.email %> 
              <%= button_to 'Sign out', sign_out_path, method: :delete, class: "button is-dark is-rounded is-small", form: {style: 'display:inline-block;'} %>
            </h2>
          <% end %>
        </div>
      </div>
    </section>
    <section class="section">
    <section class="<%= controller.controller_name %>">
      <div class="container <%= controller.action_name %>">
        <% if notice %>
          <div class="notification">
            <%= notice %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </section>
    </section>
  </body>

</html>
