<!DOCTYPE html>
<html>
  <head>
    <title>Oilchangelog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <% if notice %>
              <div class="notification">
                <%= notice %>
              </div>
            <% end %>
            <section class="<%= controller.controller_name %>">
              <% if signed_in? %>
                Signed in as: <%= current_user.email %> 
                <%= button_to 'Sign out', sign_out_path, method: :delete %>
              <% end %>
              <%= yield %>
            </section>
          </div>
        </div>
      </div>
    </section>
  </body>

</html>
